body
{
	margin: 0;
	padding: 0;
	font-family: verdana;
}
a
{
	text-decoration: none;
}
li
{
	list-style-type: none;
}
.main-container .nav-second a
{
	color:#fff!important;
	font-weight: bold;
}
.main-container .nav-second a:hover
{
	color: #E86C08!important;
}
.main-container .nav-second nav
{
	border-bottom:3px solid #E86C08!important;
}
.arrow i
{
	margin-top: 25%;

color: #fff;
	font-size: 32px;
}
.left-text
{
	display: inline-block;
	background:#E86C08;
}
footer
{
   background-color:#251b7d;

}